body {
	background: #686d76;
	font-family: "Share Tech", sans-serif;
}
h1,
h2 {
	color: #373a40;
	padding: 12px;
}
li {
	display: flex;
	align-items: center;
	padding: 10px;
	color: #eeeeee;
}
h1 {
	text-align: center;
}

#container {
	width: 100%;
	position: relative;
	display: block;
}
.img-skyabove {
	width: 100%;
	z-index: -1;
}
.img-resumepic {
	filter: grayscale(90%) opacity(95);
	border-radius: 50%;
	max-width: 10%;
	height: auto;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
	box-shadow: 0 0 50px 30px rgb(235 237 243);
}
.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 100;
	transform: translate(-50%, -50%);
	text-align: center;
}

/*navbar*/
body > nav > div > a:hover {
	color: #19d3da !important;
}
body > nav {
	background-color: #373a40;
}
body > nav > div > a:hover {
	color: #eeeeee;
}
#spanh1 {
	color: #19d3da;
}
.navbar-dark .navbar-brand {
	color: #eeeeee;
	font-size: 200%;
}
#icon-color {
	color: #eeeeee;
}
#navbarScrollingDropdown {
	color: #eeeeee;
}
.navbar-nav > li > .dropdown-menu {
	background-color: #373a40;
}
/* Icon Pulse */
@-webkit-keyframes hvr-icon-pulse {
	25% {
		-webkit-transform: scale(1.3);
		transform: scale(1.3);
	}
	75% {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
}
@keyframes hvr-icon-pulse {
	25% {
		-webkit-transform: scale(1.3);
		transform: scale(1.3);
	}
	75% {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
}
.hvr-icon-pulse {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-icon-pulse .hvr-icon {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-icon-pulse:hover .hvr-icon,
.hvr-icon-pulse:focus .hvr-icon,
.hvr-icon-pulse:active .hvr-icon {
	-webkit-animation-name: hvr-icon-pulse;
	animation-name: hvr-icon-pulse;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
/* Underline From Left */
.hvr-underline-from-left {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
}
.hvr-underline-from-left:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 100%;
	bottom: 0;

	background: #f6f6f6;
	height: 4px;
	-webkit-transition-property: right;
	transition-property: right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
	right: 0;
}
